	<hr>
		
	<table style="width:100%">
		<tr>
			<td>
				<A class="link" href="../">
					Pagina inicial
				</A>
			</td>
			<td class="text_black_bold15" style="text-align:right;">
				Web Teste - Spring FrameWork.
			</td>
		</tr>
	</table>
</body>
</html>