<html>
	<head>
		<meta http-equiv=Content-Type content="text/html; charset=windows-1250">

	</head>
	<body>
			Informaçăo
			
			<div align="center" style="margin-top: 20px; margin-bottom: 20px; font-size: 14px;">
			<font color="red">$exception</font> 
			</div>
		
			</body>
</html>